<div class="main-container">
	<nav>
    	<div class="nav-wrapper">
			<h1 id="page-title">Rogue Scholar</h1>
    	</div>
        <!-- Modal Log Out -->
        <a href="#!" class="modal-action waves-effect waves-green btn-flat" id="logout">Log Out</a>
  	</nav>
	    
    <div class="row" id="buttondiv">
	       <div class="col s12 m12">
  	            <a class="waves-effect waves-light btn-large" id="home-button" href="/"><i class="material-icons">home</i></a>
                <a class="waves-effect waves-light btn-large" id="inspired-button" href="/news">News</a>
  	            <a class="waves-effect waves-light btn-large" id="join-button" href="/post">Posts</a>
	        </div>
	</div>
    
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <div class="gradient">
                        <div id="img" class="responsive-img" class="col s12 m12"></div>
                            <h1><span id="title"></span></h1>
                    </div>
                    <h3><span id="source"></span></h3>
                    <h5><span id="author"></span></h5>
                    <p><span id="description"></span></p>
                <div id="url"></div>
                    <p id ='published'>published at <span id="publishedAt"></span></p>            
                </div>
           </div>
        </div>
    </div>

  	 <!-- Sign Up Card row -->
    <div class="row">
        <div class="col s12 m12">
            <div class="card" id="respond">
                <div class="card-content">
                    <span class="card-title"><h3>Write.</h3></span>
                    <form class="container">
                        <div class = "row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"  name="content"></textarea>
                            </div>
                            <div class="input-field col m6">
                                <button class="btn waves-effect waves-light" type="submit" name="action" id="create_post">
                                    Submit <i class="material-icons right">lightbulb_outline</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- End of Sign Up Card row -->
    </div>
    
    <footer class="page-footer">
        <div class="container">
            © 2018 Copyright Gomez, Sawyer, Hulme & Ashe
        </div>
    </footer>
</div>
