	<nav>
    	<div class="nav-wrapper">
    		<img src="./images/skull.jpg" class="circle" id="skull">
      		<a href="#" class="brand-logo">RogueScholar</a>
    	</div>
  	</nav>

    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card content">
            <span class="card-title"><h3>Post</h3></span>
            
          </div>
        </div>
      </div>
    </div>

  	 <!-- Sign Up Card row -->
            <div class="row">
              <div class="col s12 m12">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title"><h3>Respond.</h3></span>
                      <form class="container">
                        <div class = "row">
							<div class="input-field col s12">
         					 <textarea id="textarea1" class="materialize-textarea"></textarea>
       						 </div>
                       
                          <div class="input-field col m6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                              Submit <i class="material-icons right">lightbulb_outline</i>
                            </button>
                          </div>
                        </div>
                      </form>


                 <!--  </div> -->

                </div>
              </div>
            </div><!-- End of Sign Up Card row -->
	<div class="row">
	<div class="col s12 m12">
  	<a class="waves-effect waves-light btn-large" id="home-button">Home</a>

  	<a class="waves-effect waves-light btn-large" id="inspired-button">Get Inspired</a>
	</div>
	</div>

	   <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
            <div class="container">
            © 2017 Copyright Gomez, Sawyer, Hulme, & Ashe
           <!--  <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
        </footer>

